{% extends "training/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<main>
    {% if user.is_authenticated %}
    <div id="exercise-panel" class="offcanvas">
        <div class="offcanvas-content">
            <button type="button" class="btn-close" onclick="closeExercisePanel()">&times;</button>
            <h2 id="exercise-title"></h2>
            <div id="youtube-video"></div>
        </div>
    </div>

    <div id="overlay" class="overlay"></div>
    <h3 class="section-title">Workouts for Today</h3>
    {% if workout_details %}
    <h3 for="muscle_group" class="section-title">Muscle Group:</h3>
    <div class="muscle-group-container">
        <div class="row gx-0 gy-0 row-cols-2 row-cols-sm-2 row-cols-md-4 d-flex">
            <div class="col mb-1">
                <div class="card muscle-group-card text-bg-dark" onclick="selectMuscleGroup('all')">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Hantel.jpg" class="card-img" alt="All Exercises">
                    <div class="card-img-overlay">
                        <h5 class="card-title">All</h5>
                    </div>
                </div>
            </div>
            {% for muscle_group in muscle_groups %}
            <div class="col mb-1">
                <div class="card muscle-group-card text-bg-dark" onclick="selectMuscleGroup('{{ muscle_group.name }}')">
                    <img src="{{ muscle_group.url }}" class="card-img" alt="Muscle Group Image">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{ muscle_group.name }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <br>
    <h3 for="exercise_group" class="section-title">Exercises Group:</h3>
    <div class="exercise-container">
        <div class="row row-cols-4 g-4">
            {% for workout_detail in workout_details %}
            <div id="exercise-card-{{ workout_detail.id }}" class="my-exercise col-md-3 col-6 d-none mb-4">
                <div class="card exercise-card" data-muscle-group="{{ workout_detail.muscle_group.name }}">
                    <img src="{{ workout_detail.exercise.url }}" class="card-img-top" alt="Exercise Image">
                    <div class="mask"></div> 
                    <div class="card-body">
                        <h5 class="card-title">{{ workout_detail.exercise.name }}</h5>
                        <input type="hidden" name="workout_detail_id" value="{{ workout_detail.id }}">
                        <label for="load-{{ workout_detail.id }}" class="form-label">Load: {{ workout_detail.load }} lbs</label><br>
                        <label for="sets-{{ workout_detail.id }}" class="form-label">Sets: {{ workout_detail.sets }} series</label><br>
                        <label for="repetitions-{{ workout_detail.id }}" class="form-label">Repetitions: {{ workout_detail.repetitions }} times</label>
                    </div>
                    <div class="card-footer d-flex justify-content-between flex-column flex-md-row">
                        <button type="button" class="btn btn-exercise"
                            onclick="seeExercise('{{ workout_detail.exercise.name }}', '{{ workout_detail.exercise.youtube_embed }}')">See Exercise</button>
                        <button id="done-button" class="btn-done" onclick="markAsDone(this)">Done</button>
                    </div>
                </div>
            </div>            
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h5 class="section-title">No workouts available today.</h5>
    {% endif %}
    {% else %}
    <div class="jumbotron" style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/020/724/865/small/athletic-man-training-biceps-at-the-gym-to-use-as-banner-photo.jpg');">
        <h2>Welcome to our webapp!</h2>
        <p>Build your workouts with ease and efficiency.</p>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
            <a href="{% url 'login' %}" class="no-underline">
                <div class="card home-card" style="background-image: url('https://assets.clevelandclinic.org/transform/014c0cf0-b09f-4254-b16b-2618b90ffbf7/using-weight-machine-gym-588683031');">
                    <div class="card-body">
                        <h3 class="card-title">Build your workouts</h3>
                        <p class="card-text">Create your own customized workouts.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <a href="{% url 'login' %}" class="no-underline">
                <div class="card home-card" style="background-image: url('https://lifehacker.com/imagery/articles/01HF2H3A19W8T1DA32KYNM0F7S/hero-image.fill.size_1248x702.v1699836231.jpg');">
                    <div class="card-body">
                        <h3 class="card-title">Track your progress</h3>
                        <p class="card-text">See your performance gains over time.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <a href="{% url 'register' %}" class="no-underline">
                <div class="card home-card" style="background-image: url('https://cdn.prod.website-files.com/61f6a1f670934ed39d548853/64a6b282d856f4f9d563997d_Gym%20people.webp');">
                    <div class="card-body">
                        <h3 class="card-title">Stay healthy</h3>
                        <p class="card-text">Register Now.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>    
    {% endif %}
</main>

<script>
    var selectedMuscleGroup = null;
    var selectedExerciseId = null;
    var selectedExerciseName = null;
    var selectedUserName = "{{ request.user.username }}"
    document.addEventListener('DOMContentLoaded', function () {
    selectMuscleGroup('all');
});

function markAsDone(button) {
    var card = button.closest('.exercise-card');
    var mask = card.querySelector('.mask'); 

    mask.style.display = 'block';
    button.classList.add("done");
    button.disabled = true;
}

function selectMuscleGroup(muscleGroup) {
    var exerciseCards = document.querySelectorAll('.exercise-card');
    exerciseCards.forEach(function (card) {
        var parentExerciseCard = card.closest('.my-exercise');
        
        if (muscleGroup === 'all') {

            parentExerciseCard.classList.add('d-block');
        } else {

            if (card.getAttribute('data-muscle-group') === muscleGroup) {
                parentExerciseCard.classList.add('d-block');
            } else {
                parentExerciseCard.classList.remove('d-block');
                parentExerciseCard.classList.add('d-none');
            }
        }
    });
}

    function confirmDelete(workout_detail_id) {
        if (confirm("Are you sure you want to delete this exercise?")) {
            document.getElementById('delete-form-' + workout_detail_id).submit();
        }
    }

    function seeExercise(exerciseName, youtubeEmbed) {
        document.getElementById('exercise-title').innerText = exerciseName;
        if (youtubeEmbed) {

            document.getElementById('youtube-video').innerHTML = youtubeEmbed;

        } else {
            document.getElementById('youtube-video').innerHTML = 'No video available';
        }

        document.getElementById('exercise-panel').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
        document.body.style.overflow = 'hidden';
    }


    function closeExercisePanel() {
        var videoElement = document.getElementById('youtube-video').querySelector('iframe');
        if (videoElement) {
            var videoSrc = videoElement.getAttribute('src');
            videoElement.setAttribute('src', '');
            videoElement.setAttribute('src', videoSrc);
        }
        document.getElementById('exercise-panel').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';

        document.body.style.overflow = '';
    }

</script>
{% endblock %}