{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'training/styles.css' %}" rel="stylesheet">
</head>

<body>
    <header class="banner text-center">
        <h1>GymCraft</h1>
    </header>    

    <nav class="navbar navbar-expand-lg navbar-dark">
        {% if user.is_authenticated %}
        <span class="navbar-text">
            WELCOME, {{ user.username|upper }}
        </span>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto {% if not user.is_authenticated %}justify-center{% endif %}">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'setWorkout' %}">Set Workout</a>
                </li>
                <li class="nav-item">
                    <a id="myTrainingLink" class="nav-link" href="#">My Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    {% block body %}
    {% endblock %}

</body>

</html>
<script>
    function getDayOfWeek() {
        const now = new Date();
        const dayOfWeek = now.getDay(); 
        return (dayOfWeek === 0) ? 7 : dayOfWeek;
    }

    window.onload = function() {
        const dayOfWeek = getDayOfWeek();         
        const myTrainingLink = document.getElementById('myTrainingLink');
        myTrainingLink.href = "{% url 'myTraining' day_of_week='0' %}".replace('0', dayOfWeek);
    }
</script>