{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<form action="{% url 'searchByCategory' %}" method="post">
    {% csrf_token %}
    <label for="category">Search By Category:</label>
    <select name="category" id="category">
        {% for category in categories %}
        <option>{{ category }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary btn-sm">Filter</button>
</form>

<div class="row row-cols-1 row-cols-md-5 g-5">
    {% for auction in list %}
    <div class="col">
        <a href="{% url 'auction' id=auction.id %}">
            <div class="card h-100">
                <img src="{{ auction.itemImage }}" class="card-img-top imgCard" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ auction.itemName}}</h5>
        </a>
        <p class="card-text"><strong>{{auction.itemCategory}}</strong><br> {{ auction.description}}<br>
            Current
            Bid: US$ {{auction.startBid.bid | floatformat:2}}</p>
    </div>
    <div class="card-footer">
        <small class="text-body-secondary">{{auction.ownerUser}}</small>
    </div>
</div>

</div>
{% endfor %}
</div>

{% endblock %}