{% load static %}
<!DOCTYPE html> 
<html> 

<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Makes the webpage responsive to the screen size -->
  <link href="{% static 'loto/logregstyles.css' %}" rel="stylesheet"> <!-- Links the CSS file for styling -->
</head>

<body>
  <div class="container"> <!-- A div with class "container" that will contain all other divs -->
    <div class="div-left"> <!-- Left div that holds everything in left part of the page -->
      <div class="content"> <!-- A div to contain the image, title, and text -->
        <img src="https://scontent.frao1-2.fna.fbcdn.net/v/t39.30808-6/386516518_636839371934108_2960237218350775583_n.png?_nc_cat=101&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeHYQ7HKaGI6n6KP11EzmxF4GqoDbCaJPG4aqgNsJok8btahRxy3junkFElII_xBi-BRjdig5bQJ7mzlZbyQZcOY&_nc_ohc=N7stVG-YbMEAX-GnS7r&_nc_ht=scontent.frao1-2.fna&oh=00_AfDD3YLQEZcFAno0FoTYcIiij0mgowo--IpRlyvmtQnEMQ&oe=65AD326E" alt="Sua Imagem"> <!-- An image with source "sua_imagem.jpg" and alternative text "Sua Imagem" -->
        <h2>Lorem, ipsum dolor.</h2> <!-- A heading with the text "Seu Título" -->
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ex nihil illo aut labore voluptates sed alias placeat eum at. Saepe assumenda perferen</p> <!-- A paragraph with the text "Seu texto aqui." -->

    </div>
    <div class="div-right"> <!-- Right div that holds everything in right part of the page-->
      {% block body%} <!-- A Django template tag to define a block that can be filled with content in other templates -->
      {% endblock %}    
    </div>
  </div>

</body>

</html>
